<header class="inner">
  <h1 id="project_title">Nate Sime</h1>
  <div class="socialicons">
    <a title="Github" href="https://github.com/nate-sime">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a title="Google Scholar" href="https://scholar.google.com/citations?user=8eKCAOYAAAAJ">
      <i class="fa fa-google" aria-hidden="true"></i>
    </a>
    <a title="FEniCS Discourse" href="https://fenicsproject.discourse.group/u/nate/summary">
      <i class="fa fa-comment" aria-hidden="true"></i>
    </a>
  </div>
  {% include nav.html %}
</header>