<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% for link in site.data.stylesheets %}
      <link rel="stylesheet" type="text/css" href=" {{ link.url }} ">
    {% endfor %}

    <!-- 3D plots are rendered per-page; see assets/js/poisson-plot.js, which
         pulls in Plotly's gl3d bundle only once a plot scrolls into view. -->
    <link rel="preconnect" href="https://cdn.plot.ly">

    <!-- mathjax/latex -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type='text/javascript'>
      window.MathJax = {
        svg: {
          fontCache: 'global'
        }
      };
    </script>
{% seo %}
</head>